streamlit>=1.36,<2
groq>=0.9,<1
python-dotenv>=1.0,<2

opencv-python-headless>=4.9,<5
deepface==0.0.92
tensorflow>=2.15,<2.20

numpy>=1.26,<2
pandas>=2.2,<3
plotly>=5.22,<7
scipy>=1.13,<2
reportlab>=4.2,<5
streamlit-webrtc>=0.63,<1
